@font-face{
	font-family: 'Lato-Regular';
	src: url('assets/part2/fonts/Lato-Regular.ttf');
}
@font-face{
	font-family: 'Lato-Black';
	src: url('assets/part2/fonts/Lato-Black.ttf');
}
@font-face{
	font-family: 'Lato-Light';
	src: url('assets/part2/fonts/Lato-Light.ttf');
}

html{
	height: 100%;
}

body{	
	min-height: 100%;
	height: auto;
	position: relative;
	color: #FFFFFF;
	background-color: #555555;
	margin: 0 auto;
	padding: 0;
	font-family: Lato-Regular, Verdana, sans-serif;
	font-size: 0;
	user-select: none;
	cursor: default;	
}

.section-1{
	height: 870px;
	max-height: 870px;
	overflow: hidden;	
}

.section-1>div{	
	width: 940px;
	margin: 0 auto;
	padding: 60px 40px 67px 40px;
	background-color: #2D303A;
	border-bottom: 6px solid #323746;
}

h1{
	font-size: 28px;
	font-family: Lato-Black, Verdana, sans-serif;
	letter-spacing: 0.04em;
}

.section-1 h1{
	height: 34px;
	max-height: 34px;
	overflow: hidden;
	margin: 0 0 25px 0;	
	color: #666D89;
}

.section-1 h1+p{
	height: 21px;
	max-height: 21px;
	overflow: hidden;
	margin: 0 0 16px 0;
	font-size: 17px;	
	color: #767E9E;	
	font-family: Lato-Light, Verdana, sans-serif;		
	letter-spacing: 0.01em;
}

.nav-menu{
	height: 20px;
	list-style-type: none;
	display: flex;	
	align-items: center;
	padding: 0;
}

.nav-menu>li{
	display: flex;	
	align-items: center;
	height: 100%;
	margin-right: 9px;
}

.nav-menu a{
	height: 100%;
	display: flex;	
	align-items: center;	
	padding: 0 7px;
	font-size: 12px;
	letter-spacing: -0.01em;
	text-decoration: none;
	font-family: Lato-Regular, Arial, sans-serif;
	color: #767E9E;
	border: 1px solid #767E9E;
	border-radius: 5px;
}

.nav-menu a:hover{
	color: #DEDEDE;
	border: 1px solid #DEDEDE;
}

.content-container{
	height: 621px;
	max-height: 621px;
	overflow: hidden;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	padding: 0;
}

.content-container>li{
	height: 100px;
	width: 200px;
	margin-top: 20px;
}


.section-2{
	height: 734px;
	max-height: 734px;
	overflow: hidden;	
}

.section-2>div{
	width: 940px;
	margin: 0 auto;
	padding: 60px 40px 68px 40px;
	background-color: #F2F2F2;
	border-bottom: 6px solid #FFFFFF;
}

.section-2 h1{
	height: 34px;
	max-height: 34px;
	overflow: hidden;
	margin: 0 0 20px 0;
	color: #666D89;
}

.section-2 h1+p{
	height: 60px;
	max-height: 60px;
	overflow: hidden;
	margin: 0;
	font-size: 17px;
	font-family: Lato-Light, Verdana, sans-serif;
	color: #767E9E;
	line-height: 1.8em;
	letter-spacing: 0.02em;	
}

.employee-container{
	height: 486px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	padding: 0;
}

.employee-container>li{
	margin-top: 44px;
	width: 300px;
}

.employee-container>li>div{
	width: 300px;
	height: 300px;
}
.employee-container>li:nth-child(1)>div{
	background-image: url("assets/part2/images/photo_1.png");
}
.employee-container>li:nth-child(2)>div{
	background-image: url("assets/part2/images/photo_2.png");
}
.employee-container>li:nth-child(3)>div{
	background-image: url("assets/part2/images/photo_3.png");
}

h2{
	font-size: 18px;
	font-family: Lato-Black, Verdana, sans-serif;
	margin: 14px 0 10px 0;
	color: #666D89;
}

.employee-container h2+p{
	height: 42px;
	max-height: 42px;
	overflow: hidden;
	margin: 0;
	font-size: 12px;	
	color: #767E9E;
	line-height: 1.8em;
}

.social-icon-container{
	list-style-type: none;
	display: flex;
	padding: 0;
	margin-top: 24px;
}

.social-icon-container>li{
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.social-icon-container a{
	height: 100%;	
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	text-decoration: none;	
	color: #666D89;
	border-radius: 50%;
	border: 1px solid #666D89;
}

.social-icon-container a:hover{	
	color: #F2F2F2;
	background-color: #666D89;
	border: 1px solid #F2F2F2;	
}

.content-container>li{
	width: 220px;
	height: 187px;
}

.content-container>li:nth-child(1){
	background-image: url("assets/part2/images/Layer_1.png");
}
.content-container>li:nth-child(2){
	background-image: url("assets/part2/images/Layer_2.png");
}
.content-container>li:nth-child(3){
	background-image: url("assets/part2/images/Layer_3.png");
}
.content-container>li:nth-child(4){
	background-image: url("assets/part2/images/Layer_4.png");
}
.content-container>li:nth-child(5){
	background-image: url("assets/part2/images/Layer_5.png");
}
.content-container>li:nth-child(6){
	background-image: url("assets/part2/images/Layer_6.png");
}
.content-container>li:nth-child(7){
	background-image: url("assets/part2/images/Layer_7.png");
}
.content-container>li:nth-child(8){
	background-image: url("assets/part2/images/Layer_8.png");
}
.content-container>li:nth-child(9){
	background-image: url("assets/part2/images/Layer_9.png");
}
.content-container>li:nth-child(10){
	background-image: url("assets/part2/images/Layer_10.png");
}
.content-container>li:nth-child(11){
	background-image: url("assets/part2/images/Layer_11.png");
}
.content-container>li:nth-child(12){
	background-image: url("assets/part2/images/Layer_12.png");
}