@font-face{
	font-family: 'Lato-Regular';
	src: url('assets/Lato-Regular.ttf');
}

html{
	height:100%;
}

body{	
	min-height: 100%;
	height: auto;
	position: relative;
	color: rgb(255,255,255);
	background-color: rgb(255,255,255);
	margin: 0 auto;
	padding: 0;
	font-family: Lato-Regular, Verdana, sans-serif;
	font-size: 0;
	user-select: none;
	cursor: default;
}

.content-back-padding{
	height: 64px;
}

header{
	height: 89px;
	max-height: 89px;
	overflow: hidden;	
	background-color: #2D303A;
	border-bottom: 6px solid #323746;	
}


header>div{
	height: 100%;
	width: 940px;
	margin: 0 auto;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	max-height: 29px;
	overflow: hidden;
}

h1>a{
	font-size: 24px;
	text-decoration: none;
	font-family: Lato-Regular, Arial, sans-serif;
	color: #FFFFFF;
}

h1 span{	
	color: #F06C64;
}

.styled-nav{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu a{
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	font-size: 12px;
	text-decoration: none;
	font-family: Lato-Regular, Arial, sans-serif;
	color: #FFFFFF;
}

.nav-menu li:last-child a{
	padding-right: 0;
}

.nav-menu a:hover{	
	color: #F06C64;
}

.nav-menu{
	height: 100%;
	max-width: 400px;
	display: flex;
	padding: 0;
}

.nav-menu li{
	height: 100%;
	position: relative;
}

.nav-menu li::before{
	content:"";
	width: 2px;
	height: 2px;
	display: block;
	position: absolute;
	top: 50%;
	background-color: #494E62;
	border-radius: 50%;	
}

.nav-menu li:first-child::before{
	display: none;
}

.section-1{
	height: 594px;
	max-height: 594px;
	overflow: hidden;	
	background-color: #F06C64;
	border-bottom: 6px solid #EA676B;
}

.main-slider{
	height: 100%;
	width: 1020px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.main-slider>div{
	display: flex;
	align-items: center;
}
.main-slider i{	
	height: 10%;
	display: flex;
	align-items: center;
	padding: 0 5px;
	font-size: 26px;
	color: #CA4549;	
}

.main-slider i:hover{	
	color: #DBDC7E;		
}

.main-slider-content-container{
	margin: 0 15px;
}

.main-slider-content-container>div:nth-child(1){
	height: 484px;
	width: 240px;
	margin: 0 35px;
	background-image: url("assets/Phone_Vertical.png");
	background-repeat: no-repeat;
}
.main-slider-content-container>div:nth-child(2){
	height: 240px;
	width: 484px;
	margin: 0 35px;
	background-image: url("assets/Phone_Horizontal.png");
	background-repeat: no-repeat;
}

.section-2{
	height: 494px;
	max-height: 494px;
	overflow: hidden;
	background-color: #F2F2F2;
	border-bottom: 6px solid #FFFFFF;
}

.main-content-container{
	width: 1020px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-content-container>div{
	display: flex;
	margin-bottom: 30px;
	margin-right: 0px;
	margin-left: 10px;
}

h2{
	width: 940px;
	max-height: 34px;
	overflow: hidden;
	font-size: 28px;
	font-weight: 900;
	letter-spacing: 0.05em;
	margin: 60px auto 20px auto;
	color: #666D89;
}

.section-2 {
	color: black;
}

.section-2>p{
	width: 940px;
	max-height: 56px;
	overflow: hidden;
	margin: 0 auto 47px auto;
	line-height: 1.7em;
	word-spacing: -0.1em;
	font-size: 18px;
	color: #767E9E;
}

.main-content-container p{
	margin: 0;
	font-size: 11px;
	max-height: 66px;
	overflow: hidden;
	line-height: 2.0em;
	color: #767E9E;
}

.section-2 h3{
	margin: 0 0 6px 0;
	font-size: 18px;
	max-height: 22px;
	overflow: hidden;
	color: #666D89;
}

.content-icon{
	height: 59px;
	width: 59px;
	margin-right: 10px;
}
div:nth-child(1)>.content-icon{
	background-image: url("assets/Pen.png");
}
div:nth-child(2)>.content-icon{
	background-image: url("assets/Bulb.png");
}
div:nth-child(3)>.content-icon{
	background-image: url("assets/Heart.png");
}
div:nth-child(4)>.content-icon{
	background-image: url("assets/Phone.png");
}
div:nth-child(5)>.content-icon{
	background-image: url("assets/Bubble.png");
}
div:nth-child(6)>.content-icon{
	background-image: url("assets/Star.png");
}

.content-icon+div{
	width: 230px;
	margin-left: 10px;
	margin-right: 0px;
}


